.brandsContainer {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.brandGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.brandCard {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.brandCard:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.brandLogo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 10px;
    background-color: white;
}

.brandName {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #333;
}

.brandType {
    font-size: 1.1rem;
    color: #874bd1;
    font-weight: bold;
}
